.bottomBtn{
    display: flex;
    margin-top: 25px;
}
.productCardList{
   text-align: center;
   display: flex;
  
}

.statusBtn{
    position: absolute;
    top: 43px;
    left: 29px;
}
.productCardItem{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F8FAFC;
   max-width: 573px;
   max-height:707px;
   border-radius: 25px;
   padding:  54px 31px;
}
.productCardItem:not(:last-child){
margin-right: 15px;
}

.imgThumb{
    margin: 0 auto;
    width:275px;
    height:261px;
    overflow: hidden;
    border-radius: 25px;
    
transition: box-shadow 500ms linear, transform 500ms ease-in-out;
    
}

.imgThumb:hover,
.imgThumb:focus{
 box-shadow: 0px 4px 45px #C3D4E4;
 border-radius: 45px;
}

.cardTitle{
    font-family: 'SF UI Display';
    font-size: 24px;
    color:#2C2C2C;
    font-weight: 500;
    margin-top: 25px;
}

.cardDescription{
     font-family: 'SF UI Display';
    font-size: 16px;
    color:#2C2C2C;
    font-weight: 400;
    margin-top: 10px; 
    text-align: left;
    line-height: 1,5px;
}


.cardImg{
    width: 100%;
}
.counter{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    background-color:#E2E9F0;
    padding: 19px 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 92px;
    height: 39px;
    margin-right: 32px;
    border-radius: 30px;
    color:#2C2C2C;
    cursor: pointer;
    transition: 
    background-color,
    box-shadow 500ms linear, 
    transform 500ms ease-in-out;
}

.counterBtn{
    border: transparent;
    background-color: transparent; 
}   

.counter:hover,
.counter:focus{
    background-color: #D8E3EE;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
}