.bottomBtn{
    display: flex;
    margin-top: 25px;
}
.productCardItem{
   text-align: center;
}

.statusBtn{
    position: absolute;
    top: 43px;
    left: 29px;
}

.section{
    display: flex;
    flex-direction: column;
     position: relative;
   background-color: #F8FAFC;
   max-width: 573px;
   max-height:707px;
   border-radius: 25px;
   padding:  54px 31px;
}

.imgThumb{
    margin: 0 auto;
    width:275px;
    height:261px;
    overflow: hidden;
    border-radius: 25px;
    
transition: box-shadow 500ms linear, transform 500ms ease-in-out;
    
}

.imgThumb:hover,
.imgThumb:focus{
 box-shadow: 0px 4px 45px #C3D4E4;
 border-radius: 45px;
}

.cardTitle{
    font-family: 'SF UI Display';
    font-size: 24px;
    color:#2C2C2C;
    font-weight: 500;
    margin-top: 25px;
}

.cardDescription{
     font-family: 'SF UI Display';
    font-size: 16px;
    color:#2C2C2C;
    font-weight: 400;
    margin-top: 10px; 
    text-align: left;
    line-height: 1,5px;
}
.price{
    font-family: 'SF UI Display';
    font-size: 18px;
    color:#2C2C2C;
    font-weight: 600;
    text-align: right;
    margin-top: 25px; 
}

.cardImg{
    width: 100%;
}