.radioBtnVolume{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.radioBtn{
    margin-bottom: 5px;
}

.radioBtnChecked{
    margin-right: 10px;
   
}

input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #DEDEDE;
  
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 5px;
 background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
  transform: translate(-50%, -50%);
  visibility: visible;
}


.section{
  text-align: left;
}