body {
  margin: 0;
  font-family: 'SF UI Display',
    sans-serif;
  line-height: 1.17;

  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
}
button {
  cursor: pointer;
}

.section{
  padding: 50px;
}